 *,
 *:before,
 *:after {
     box-sizing: border-box;
 }




 body {
     font-family: 'Montserrat',
         sans-serif;
     ;
 }

 nav>.container>a {
     width: 20vw;
     height: 10vh;
     color: black;
     background-image: url(images/Spotify-Black-Logo.wine.svg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center
 }

 nav>.container>a:hover {
     text-decoration: none;
     text-decoration-color: none;
     color: black;
 }

 nav .container .logo {
     display: inline;
 }


 .btn {
     display: block;
     ;
 }

 .divider {
     border-top: 1px solid #d9dadc;
     display: block;
     line-height: 1px;
     margin: 15px 0;
     position: relative;
     text-align: center;
 }

 .divider-title {
     background: #fff;
     font-size: 12px;
     letter-spacing: 1px;
     padding: 0 20px;
     text-transform: uppercase;
 }

 .password {
     text-decoration: underline;
     color: #616467;
 }

 .password {
     text-decoration: underline;
     color: #616467;
 }

 .password:hover {
     color: #1db954
 }



 .login {
     background-color: #1db954;
     color: white;
     border-radius: 2rem;
 }

 .login:hover {
     background-color: #46df7b;

 }

 .container {
     width: 37%;
 }

 .facebook {
     border-radius: 2rem;
     background-color: #3a61b3;
     color: white;
 }

 .facebook:hover {
     background-color: #5d85db;
     color: white;
     text-decoration: none;

 }

 .apple {
     border-radius: 2rem;
     background-color: #000000;
     color: white;
 }

 .apple:hover {
     background-color: #3b3b3b;
     color: white;
     text-decoration: none;

 }

 .google {
     border-radius: 2rem;
     border: 0.2rem solid #616467;
     color: #616467;
 }

 .google:hover {
     background-color: #383838;
     color: white;
     text-decoration: none;

 }

 .subscribe {
     border-radius: 2rem;
     border: 0.2rem solid #616467;
     color: #616467;
 }

 .subscribe:hover {
     background-color: #383838;
     color: white;
     text-decoration: none;

 }


 input[type=checkbox] {
     display: none;
     cursor: pointer;
 }

 input[type=checkbox]+label::before {
     content: "\2714";
     border: 0.1em solid #000;
     border-radius: 0.2em;
     display: inline-block;
     width: 1.5rem;
     height: 1.5rem;
     cursor: pointer;
     vertical-align: bottom;
     color: transparent;
     transition: .1s;
     margin-left: 20px;
 }

 input[type=checkbox]+label:active:before {
     transform: scale(0);
     cursor: pointer;
 }

 input[type=checkbox]:checked+label:before {
     background-color: MediumSeaGreen;
     border-color: MediumSeaGreen;
     color: #fff;
     cursor: pointer;
 }

 input[type=checkbox]:disabled+label:before {
     transform: scale(1);
     border-color: #aaa;
     cursor: pointer;
 }

 input[type=checkbox]:checked:disabled+label:before {
     transform: scale(1);
     background-color: #bfb;
     border-color: #bfb;
     cursor: pointer;
 }